/* color scheme */
/* #2126B2
#553D67
#f64c71
#99738e
#2f2fa2 */
/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif; 
*/
/* <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap" rel="stylesheet"></link> */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family:'Montserrat', sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a.navbar-brand {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  color: #f64c71 !important;  
  font-style: italic;
}

a.nav-link {
  font-family: 'Montserrat', sans-serif;
  color:#fff !important;
}
/* 
a {
  color: #2f2fa2 !important;
  text-decoration: none;
  font-family:'Montserrat', sans-serif;
} */

a:hover {
  color: #99738e !important;
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

nav.bg-dark {
  background-color: #2126B2 !important;
}

li a.nav-link {
  font-family: 'Montserrat', sans-serif;
  color:#fff;
}

.jumbotron {
  background-color: #2126B2 !important;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
}

h1.display-3 {
  font-family: 'Playfair Display', serif;
    font-size: 72px;
    font-style: italic;
    font-weight: 800;
    letter-spacing: normal;
    line-height: 61.6279067993164px;
    text-transform: none;
    color: #f64c71;
}

h2, h3, h4, h5, h6 {
  font-family:'Montserrat', sans-serif;
  font-weight: 900;
  color: #f64c71;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

li {
  font-family:'Montserrat', sans-serif;
  font-weight: 300;
}